# This are the requirements for the notebooks
# Especially useful when running the notebooks with mybinder.org
pandas
py2neo
pygal
# experimental library for importing software data
git+git://github.com/feststelltaste/ozapfdis.git
git+git://github.com/feststelltaste/ausi.git

# add extension for presentation
RISE
