@font-face {
  font-family: FFMarkWebProBook;
  font-display: swap;
  /* src: url("https://assets.innoq.com/fonts/350ED6_4_unhinted_0.woff2?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff2"), url("https://assets.innoq.com/fonts/350ED6_4_unhinted_0.woff?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff"), url("https://assets.innoq.com/fonts/350ED6_4_unhinted_0.ttf?cachebuster=7d0a3995eec718ff34fa844413298153") format("truetype"); */
  src: url("../../demos/resources/350ED6_4_unhinted_0.woff2") format("woff2");
}

@font-face {
  font-family: FFMarkWebProHeavy;
  font-display: swap;
  /* src: url("https://assets.innoq.com/fonts/350ED6_6_unhinted_0.woff2?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff2"), url("https://assets.innoq.com/fonts/350ED6_6_unhinted_0.woff?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff"), url("https://assets.innoq.com/fonts/350ED6_6_unhinted_0.ttf?cachebuster=7d0a3995eec718ff34fa844413298153") format("truetype");*/
  src: url("../../demos/resources/350ED6_6_unhinted_0.woff2") format("woff2");
}

@font-face {
  font-family: "icons";
  font-display: swap;
  /* src: url("https://assets.innoq.com/fonts/icomoon.woff2?cachebuster=7d0a3995eec718ff34fa8444132981c6") format("woff2"), url("https://assets.innoq.com/fonts/icomoon.woff?cachebuster=7d0a3995eec718ff34fa8444132981c6") format("woff"), url("https://assets.innoq.com/fonts/icomoon.ttf?cachebuster=7d0a3995eec718ff34fa8444132981c6") format("truetype"), url("https://assets.innoq.com/fonts/icomoon.svg?cachebuster=7d0a3995eec718ff34fa8444132981c6#icons") format("svg");*/
  src: url("../../demos/resources/icomoon.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
b,
i,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {font-family: FFMarkWebProHeavy; !important }

strong {color: #ff4d67;}

body, .reveal {
	font-family: FFMarkWebProBook; !important;
}
.rise-enabled .reveal .slide-number{
	color: rgb(0, 0, 0,0.0); !important;
}

.rendered_html code {
    background-color: #fff;
}

td,th {
	font-size: 18px;
}

.rendered_html h2:first-child {
    margin-top: 0em;
}
.rendered_html h3:first-child {
    margin-top: 0em;
}
.rendered_html h3:first-child {
    margin-top: 0em;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.red {color: #ff4d67;}
.green {color: #55CDAF;}
.blue {color: #24244C;}
.yellow {color: #FFF019;}
.grey {color: #CCCCCC;}
